.answer {
  composes: line from "../../../../styles/hexLine.module.css";
  position: relative;
  width: 100%;
  min-height: 72px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 16px;
  max-width: 405px;
  outline: none;
}

.answer:disabled {
  color: var(--black-100);
}

.hexSvg {
  position: absolute;
  inset: 0 16px;
  height: 100%;
  width: calc(100% - 32px);
  z-index: 1;
}

.hexPath {
  fill: var(--white);
  stroke: var(--black-40);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  transition:
    fill 0.2s ease,
    stroke 0.2s ease;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  min-height: inherit;
  padding: 8px 32px;
  font-size: 20px;
  z-index: 2;
  text-align: left;
}

.label {
  color: var(--orange-100);
  margin-right: 8px;
  font-weight: 600;
  min-width: 16px;
}

/* States */
.selected .hexPath {
  stroke: var(--orange-100);
  fill: var(--orange-5);
}

.selected::before {
  background-color: var(--orange-100);
}

.correct .hexPath {
  stroke: var(--green-100);
  fill: var(--green-5);
}

.correct::before {
  background-color: var(--green-100);
}

.wrong .hexPath {
  stroke: var(--red-100);
  fill: var(--red-5);
}

.wrong::before {
  background-color: var(--red-100);
}

@media (max-width: 480px) {
  .answer {
    min-height: 56px;
  }

  .content {
    padding: 0 24px;
    font-size: inherit;
  }
}
